body {
    background-color: aliceblue;
    font-family: Arial;
}

div{
    margin-bottom: 1%;
}

#menu {
    width: 97%;
}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu li {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
    list-style: none;
}

#menu ul ul li {
    position: relative;
    float: left;
    width: 88%;
    text-align: center;
    list-style: none;
}

#menu li a {
    background-color: black;
    color: #FFF;
    padding: 15px 20px;
    width: 100%;
    text-decoration: none;
    display: block;

}

#menu li a:hover {
    background-color: #3F3F3F;
    text-shadow: 0px 0px 1px #FFF;
}

#menu ul ul {
    position: absolute;
    top: 48px;
    visibility: hidden;
}

#menu ul li:hover ul {
    visibility: visible;
}

#menu ul ul:hover {
    box-shadow: 0px 20px 30px #7C7C7C;
}

#menu ul ul li a {
    background-color: #000000;
}

#menu ul ul li a:hover {
    background-color: #3F3F3F;
}

.gruppo_info li{
	font-size:x-large;
	color:black;
	padding-top:2%;
	padding-left:1%;
	margin-left:10%;
}

p{
    font-size:x-large;
    color: black;
    padding-top: 10%;
    padding-left: 4%;
	text-align:center;
	margin-right:10%;
	margin-left:10%;
}

.grp_info{
 padding-top: 0%;
 color: #3333FF;
}
.dati_stat{
padding-top: 0%;
text-align:left;

}

.dati_stat_d{
padding-top: 0%;
padding-left:6%;
text-align:left;
color:red;
font-size:large;
}

.colore_div{
	color:#606060;
	font-size:xx-large;
}
img{
    max-width:100%;
    max-height:100%;
}
#tbps {
	margin-left:5%;
	padding:0px;
	width:90%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
#tbps table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:10px ;padding:0px;
}

#tbps tbody{
	margin-top:10px;
}
#tbps tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
#tbps table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
#tbps table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
#tbps tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}

#tbps tr:nth-child(odd){ background-color:#b2b2b2; }
#tbps tr:nth-child(even)    { background-color:#ffffff; }#tbps td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	font-size:large;
	color:#000000;
}#tbps tr:last-child td{
	border-width:0px 1px 0px 0px;
}#tbps tr td:last-child{
	border-width:0px 0px 1px 0px;
}#tbps tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
#tbps th {
		background:-o-linear-gradient(bottom, #191919 5%, #000000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #191919), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #191919 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#191919", endColorstr="#000000");	background: -o-linear-gradient(top,#191919,000000);

	background-color:#191919;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;

}

#tbps tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
#tbps tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}